$black: #000;
$white: #fff;

$light_gray: #bfbfbf;
$light_grey: $light_gray;

$really_light_gray: #ccc;
$really_light_grey: $really_light_gray;

// From the style guide
$red: #bf2c37;
$blue: #62cae3;
$green: #8dc63f;
$yellow: #dedc11;
$off_white: #f5f5f5;
$gray: #999;
$grey: $gray;
$dark_gray: #666;
$dark_grey: $dark_gray;
$near_black: #333;



// used on inputs
$even_lighter_gray: #e5e5e5;
$even_lighter_grey: $even_lighter_gray;

$muddy_red: #92232b;
